<h2>Welcome
 <input type="text" value="{{ name }}">  <!--String interpolation-->
 <br>
 {{showName()}}
</h2>

<div>
    <input [disabled]="isDissable" type="text"  value="{{name}}">   <!--property binding-->
</div>

<div>
<button style="background-color: darkcyan" (click)="showMwsssage($event)">Click</button><br>   <!--event binding-->
{{ eventName }}<br>
{{ message }}
</div>
<br><br>

<div>
<input style="background-color: darkkhaki" [(ngModel)]="name" type="text">

</div>
<br><br>
<div >
    <button *ngIf="isDissable" (click)="showDetails($event)">Show</button><br><br>
    <div >
        <label for="fname">First Name</label>
            <input [disabled]="isDissable"
                     style="background-color: lightblue"
                     type="text"
                    [(ngModel)]="user.fname">
     </div>
     <div>
        <label for="lname">Last Name</label>
            <input  style="background-color: lightblue"
                 [disabled]="isDissable"
                     type="text"
                    [(ngModel)]="user.lname">
     </div>

     <br><br>
        <button *ngIf="!isDissable ; else elseblock1" (click)="hideDetails($event)">Save</button>     
        <br><br>
        <ng-template #elseblock1>
            <h2>else block is working</h2>
        </ng-template>

</div>
